<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PageObjectModelBasics">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
		<listener class-name="com.vjj.listeners.CustomListeners"></listener>
		<listener class-name="com.vjj.listeners.ExtentListeners"></listener>
	</listeners>

	<test thread-count="5" name="LoginTest">
		<classes>
			<class name="com.vjj.testCases.loginTest" />
		</classes>
	</test> <!-- LoginTest -->
	
	<test thread-count="5" name="CreateAccTest">
		<classes>
			<class name="com.vjj.testCases.CreateAccountTest" />
		</classes>
	</test> <!-- CreateAccTest -->
	


</suite> <!-- PageObjectModelBasics -->
